{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="wapper-login">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message[1] }}">{{ message[0] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" action="/login" id="form-login">
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <br>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <div class="form-row f-btn-login">
                <button type="submit" id="btn-flogin">Login</button>
            </div>
        </form>

    </div>
{% endblock %}
