{% extends 'layout.html' %}

{% block title %}Version!{% endblock %}

{% block content %}

<div class="nav-page">
    <div class="w-btn-link">
        <ul>
            <li><a href="{{ url_for('index.index') }}" title="index" rel="noopener noreferrer"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="{{ url_for('index.help') }}" title="help" rel="noopener noreferrer"><i class="fa-regular fa-circle-question"></i></a></li>
            <li><a href="{{ url_for('index.about') }}" title="about" rel="noopener noreferrer"><i class="fa-solid fa-circle-info"></i></a></li>
        </ul>
    </div>
</div>

<div class="w-help-content">
    <h3>Current Version Model : {{ ver }}</h3>
    <div class="w-upload-file">
        <form method="POST" enctype="multipart/form-data" action="/load-version">
            <input type="file" name="file">
            <button class="btn-up-model">Upload model</button>
        </form>
    </div>

    <div class="w-choose-version">
        <h3>List Version</h3>
        <form method="POST" action="/pick-version" enctype="multipart/form-data" id="sendImage">
            <ul>
                {% for file in files %}
                    <li ><input type="radio" name="version_model" value="{{file}}" id="{{file}}"><label for="{{file}}">{{ file }}</label></li>
                {% endfor %}
            </ul>
            <button class="btn-choose-model">Update version</button>
        </form>
    </div>
</div>

<footer class="w-footer">
    <img src="{{ url_for('static', filename='imgs/aptech-logo.png') }}" alt="">
    <p>@ Copyright by Les Miserables Team </p>
</footer>


{% endblock %}
