{% extends 'layout.html' %}

{% block title %}Version!{% endblock %}

{% block content %}

<div class="nav-page">
    <div class="w-btn-link">
        <ul>
            <li><a href="{{ url_for('index.index') }}" title="index" rel="noopener noreferrer"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="{{ url_for('index.help') }}" title="help" rel="noopener noreferrer"><i class="fa-regular fa-circle-question"></i></a></li>
            <li><a href="{{ url_for('index.about') }}" title="about" rel="noopener noreferrer"><i class="fa-solid fa-circle-info"></i></a></li>
        </ul>
    </div>
</div>

<div class="w-help-content">
    <h3>Current Version Model : {{ ver }}</h3>
    <div>
        <form method="POST" action="/load-version">
            <button class="">Update last version model</button>
        </form>
    </div>
    <h3>List Version</h3>
    <form method="POST" action="/upload" enctype="multipart/form-data" id="sendImage">
        <ul>
            {% for file in files %}
                <li><input type="radio" name="version_model" value="{{file}}" id="{{file}}">{{ file }}</li>
            {% endfor %}
        </ul>
    </form>
</div>

<footer class="w-footer">
    <img src="{{ url_for('static', filename='imgs/aptech-logo.png') }}" alt="">
    <p>@ Copyright by Les Miserables Team </p>
</footer>

{% endblock %}
